*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: 0;
    background-color: #17383f;
}

a{
    text-decoration: none;
    object-fit: scale-down;
    background-color: black;
     
}

#grid{
    display: grid;
    grid-auto-rows: minmax(8vh, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". lg ."
                         "md md md"
                         "pr pr pr"
                         "d1 d1 d1"
                         "d2 d2 d2"
                         "d3 d3 d3"
                         "d4 d4 d4"
                         ". rd rd";
}
header{
    grid-area: lg;
    max-width: 100%;     
}
img{
    max-width: 100%;
}
#disco1{
    grid-area: d1;   
}
#disco2{
    grid-area: d2;
}
#disco3{
    grid-area: d3;
}
#disco4{
    grid-area: d4;
}
#midia{
    grid-area: md;
    background-color: whitesmoke;
    max-width: 100%;
    padding-top: 3vw;
    display: flex;
    justify-content: space-around;
}
#midia img{
    max-width: 100%;
    background-color: whitesmoke;
    
}
#midia a{
    max-width: 10%;
    text-decoration: none;
    object-fit: scale-down;
    background-color: whitesmoke;
    
}

#principal{
    grid-area: pr;
    background-color: black;
    padding: 1em;
    text-align: center;
}
#principal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    
}
#principal p{
    color:whitesmoke;
    background-color: inherit; 
    padding-bottom: 4vh;
    font-size: 5vw;  
}

.disco{
    margin-block-start: 8vh;
    background-color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.disco img{
    margin-top: -9vh;
    display: flex;
 
}
footer{
    grid-area: rd;   
    padding-top: 2vh;
    color: whitesmoke;
    font-size: 3vw;
    text-align: right;
    padding-right: 3vw;
}
