*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: 0;
    background-color: #17383f;
}

a{
    text-decoration: none;
    object-fit: scale-down;
    background-color: black;
     width: 100%;
}
img{
    max-width: 100%;
}
#grid{
    display: grid;
    grid-auto-rows: minmax(8vh, auto);
    grid-template-areas: "header"
                         "main";
                         
}
header{
    grid-area: header;
    display: grid;
    grid-auto-rows: minmax(8vh, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". lg ."
                         "md md md";
}
header #logo{
    grid-area: lg;
    max-width: 100%;     
}
header .social{
    grid-area: md;
}
.social{
    background-color: whitesmoke;
    max-width: 100%;
    padding-top: 3vw;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-around;
    
}
.social img{
    max-width: 100%;
    background-color: whitesmoke;
}
.social a{
    max-width: 10%;
    background-color: whitesmoke;
}
main{
	max-height: 100vh;
	overflow-y: scroll;
    grid-area: main;
    display: grid;
    grid-auto-rows: minmax(8vh, auto);
    grid-template-areas: "principal"
                         "passados"
						 "footer";
}
#principal{
    grid-area: principal;
    display: grid;
    grid-auto-rows: minmax(8vh, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pr pr pr"
                         ". ic .";
    background-color: black;
    padding: 4vw;
}
#PrincipalCapa{
    grid-area: pr;
    max-width: 100%;
}
#iconePrincipal{
    grid-area: ic;
    max-width: 100%;
    margin-top: 2vh;
}
#passados{
    grid-area: passados;
    display: grid;
    grid-auto-rows: minmax(16vh, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "cd1 cd1 ic1"
                         ". . ."
                         "cd2 cd2 ic2"
                         ". . ."
                         "cd3 cd3 ic3"
                         ". . ."
                         "cd4 cd4 ic4";
    background-color: #17383f;
    margin-top: 8vh;
    padding: 4vw;
}
#passadosDisco1{
    grid-area: cd1;
}
#passadosDisco1 img{
    margin-top: -5vh;
    box-shadow:  40vw 8vh, -20vw 8vh;
}
#passadosDisco2{
    grid-area: cd2;
}
#passadosDisco2 img{
    margin-top: -5vh;
    box-shadow:  40vw 5vh, -20vw 5vh;
}
#passadosDisco3{
    grid-area: cd3;
}
#passadosDisco3 img{
    margin-top: -5vh;
    box-shadow:  40vw 5vh, -20vw 5vh;
}
#passadosDisco4{
    grid-area: cd4;
}
#passadosDisco4 img{
    margin-top: -5vh;
    box-shadow:  40vw 5vh, -20vw 5vh;
}
#passadosIconeDisco1{
    grid-area: ic1;
}
#passadosIconeDisco2{
    grid-area: ic2;
}
#passadosIconeDisco3{
    grid-area: ic3;
}
#passadosIconeDisco4{
    grid-area: ic4;
}

.capa img{
    margin-left:auto;
    margin-right: auto; 
}

.icone{
    display: block;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 60%;    
    background-color: black
}
.icone img{
    background-color:inherit;
}
.icone p{
    text-align: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: inherit;
}

footer{
    grid-area: footer;   
    color: whitesmoke;
    font-size: 3vw;
    text-align: right;
    display: grid;
    grid-auto-rows: minmax(4vh, auto);
    grid-template-areas:"assinatura";
}

footer p{
    grid-area: assinatura;
    padding-right: 3vw;
    padding-top: 2vh;
}
