*,
*::before,
*::after{
    box-sizing:0;
    margin-left:0;
    margin-top: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
@media screen and (max-width:800px){
    header{
        z-index: 1;
        position: fixed;  
        width: 100%;
        height: 5vh;
        background-color: white;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 1vw;
        padding-right: 1vw;
       
    }
    header a{
        text-decoration: none;
        object-fit: scale-down;
    }
    .icone{
        padding-top: 1vh;
        padding-bottom: 1vh;
        max-width:3vh;
    }
    header img {        
        width: 100%;
    }
    a:clicked{
        text-decoration: none;
    }
    
    .logo{
        width: 100%;
        height: 30vh;
        background-color: #f4c805;
        text-align: center;
    }
    article{
        font-family: Mission Gothic Light ,Helvetica, Arial;
        display: block;
        color: white;
        font-size: 2.5rem;
        line-height: 20vh;
        margin-left: auto;
        margin-right: auto;
    }
    span{
        font-size: 1.5rem;
    }
   
    .lancamento{
        position: absolute;
        display: block;
        max-width: 60%;    
        margin-top: -10%;
        object-fit: fill;
        box-shadow: 2px 2px 5px;
        margin-left: 20%;
        
    }
    .lancamento iframe{
        border: none;
    }
    img{
        max-width: 100%;
    }
    .corpo{
        position: relative;
        display: block;
        flex-flow: column-reverse;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80%;
        width: 60vw;
        object-fit: fill;
    }
    .corpo iframe{
        margin-bottom: 10%;
        box-shadow: 2px 2px 5px;
    }
}

